<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New User'), ['action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('Login'), ['action' => 'login']) ?></li>
        <li><?= $this->Html->link(__('Reset Password'),
                ['action' => 'forgotpassword']) ?></li>
    </ul>
</nav>
<div class="users index large-9 medium-8 columns content">
    <h3><?= __('Users') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
        <tr>
            <th><?= $this->Paginator->sort('id') ?></th>
            <th><?= $this->Paginator->sort('email') ?></th>
            <th><?= $this->Paginator->sort('passwd') ?></th>
            <th><?= $this->Paginator->sort('status') ?></th>
            <th><?= $this->Paginator->sort('token') ?></th>
            <th class="actions"><?= __('Actions') ?></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($users as $user): ?>
            <tr>
                <td><?= $this->Number->format($user->id) ?></td>
                <td><?= h($user->email) ?></td>
                <td><?= h($user->passwd) ?></td>
                <td><?= h($user->status) ?></td>
                <td><?= h($user->token) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'),
                        ['action' => 'view', $user->id]) ?>
                    <?= $this->Html->link(__('Edit'),
                        ['action' => 'edit', $user->id]) ?>
                    <?= $this->Form->postLink(__('Delete'),
                        ['action' => 'delete', $user->id], [
                            'confirm' => __('Are you sure you want to delete # {0}?',
                                $user->id)
                        ]) ?>
                </td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
        </ul>
        <p><?= $this->Paginator->counter() ?></p>
    </div>
</div>
